<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container d-flex justify-content-start">
            <a class="navbar-brand" href="/dojos">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
                </svg>
                Dojos & Ninjas
            </a>
            <div class="navbar-nav">
                <a href="/dojos" class="nav-link active">Home</a>
            </div>
        </div>
    </nav>
    <!-- I referred to a YouTube video from The Net Ninja as well as Bootstrap documentation for how to build this form -->
    <div class="row justify-content-center my-4">
        <div class="container me-3 col-lg-4">
            <div class="container border border-secondary text-dark justify-content-start p-4">
                <h2 class="mb-4">Add a Dojo</h2>
                <form action="/dojos/add" method="post" class="justify-content-start">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <label for="name" class="form-label me-2 my-auto">Name:</label>
                        <input name="name" id="name" type="text" class="form-control" placeholder="e.g., Seattle">
                    </div>
                    <button class="btn btn-primary btn-outline-dark text-white">Submit</button>
                </form>
            </div>
        </div>
        <div class="container ms-3 col-lg-4 p-4">
            <h1 class="mb-4">All Dojos</h1>
            <table class="table table-striped table-hover table-bordered">
                <tbody class="text-center"> <!-- I learned the "if dojos" code from Stack Overflow -->
                    {% if dojos %}
                        {% for dojo in dojos %}
                            <tr>
                                <td><a href="/dojos/{{ dojo.id }}">{{ dojo.name }}</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>---</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a href="/ninjas" class="btn btn-warning btn-outline-dark mt-4">Add Ninja</a>
        </div>
    </div>
</body>
</html>